.nav__links-AB li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;

}

nav {
    margin: auto;
    width: 40%;
 
}

nav .nav__links-AB li a {
    color: #000000;
    text-decoration: none;
}

