

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: 'Kanit', sans-serif;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
   
}



.pricing-plan {
    width: 50%;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    overflow: hidden;
    font-family: l'lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#fcf5f5;
    margin: auto;
    background-color: #009578;
    margin-bottom: 25px;
}

.pricing-plan__header {
    padding: 25px;
    background: #009578;
    color: #ffffff;
}

.pricing-plan__titile, .pricing-pla__summary {
    margin: 0;
   
}

.pricing-plan__titile {
    font-size: 1.5em;
    font-weight: 400;

}

.pricing-pla__summary {
    font-size: 1em;
    font-weight: 300;
}

.pricing-plan__description {
    padding: 25px;
    
}

.pricing-plan__list {
    padding: 0;
    margin-right: 0;
    
}

.pricing-plan__feature {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}

.pricing-plan__feature:not(:last-child) {
    margin-bottom: 0.5em;
}

.pricing-plan__feature::before {
    content: "\2714";
    color: #000000;
    position: absolute;
    left: 0;
}

.pricing-plan__actions {
    padding: 25px;
    border-top: 1px solid #eeeeee;
    flex-direction: column;
}

.pricing-plan__button {
display: inline-block;
margin: 15px auto;
padding: 8px 20px;
text-decoration: none;
color: #009578;
background: #ffffff;
border-radius: 5px;
border: 1px solid #009578;
text-transform: uppercase;
letter-spacing: 0.02em;
font-weight: bold;
margin-left: 115px;
}

.pricing-plan__button:hover {
    background: #000000;
    color: #ffffff;
}

.pricing-plan__cost {
    margin: 0;
    font-size: 2em;
    color:#fcf5f5;
}

.pricing-plan__text {
    font-size: 0.9em;
    margin: 0 0 10px 0;
}

.footer {
    bottom: 0px;
    left: 0px;  
    border-radius: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #000000;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}


 /*nav {
    text-align: right;
}*/

.footer nav{
    padding: 1rem;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    margin-left: -65px;
}

nav .nav__links li a {
    color: #000000;
    text-decoration: none;
}

body {
    background-color:#a8dadc;
}

footer,p {
    text-align: center;
}

 #footer_navs {
    text-align: center;
 }

 .footer_copyright {
    margin-left: -55px;
 }

.Greeting {
    padding: 25px;
    margin: 10px;
    padding-bottom: 65px;
    text-transform: uppercase;
    padding-top: 10px;
}

 .Boxing_Gloves {
    width: 100px;
    padding-bottom: 280px;
    
}

.pricing-plan {
    display: inline-block;
    margin-left: 40px;
}

 .faq {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

 .faq li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #009578;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0, 0.15);
}

.faq li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #ffffff;
}

.faq li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #000000;
}

.faq label + input[type="radio"] {
    display: none;
}

.faq  .content{
padding: 0px 10px;
line-height: 26px;
max-height:0;
overflow: hidden;
transition: max-height 0.5s;

}

.faq label + input[type="radio"]:checked + .content{
max-height: 400px;
}

.form {
    /*
    margin-left: 580px;
    margin-bottom: 85px; */
    text-transform: uppercase;
    background-color: #009578;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    text-transform: uppercase;
    text-shadow: 0 1px 0 #009578, 0 2px 0 #009578,
    0 7px 0 #009578, 0 8px 0 #009578,
    0 11px 0 #009578, 0 12px 0 #009578;
}

.nav__links li:hover {
    background-color: #009578;
    border-radius: 25px;
}

a:is(:link, :active, :visited).active {
    color: white;
    background-color: black;
    border-radius: 5px;
}

.bottom_Greeting {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}


.faq_heading {
    margin-left: 50px;
    text-transform: uppercase;
    margin-bottom: 75px;
    background-color: #009578;
    text-align: center;
    border-radius: 25px;
}
    


.nav__links:hover {
   transform: rotateY(360deg);
   transition: all 1s ease-in-out;
}


input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }

    p {
        font-family: 'Roboto', sans-serif; 
    }

    label {
        font-family: 'Lilita One', cursive;
    }

    h2 , h3 {
        font-family: 'Lilita One', cursive;
    }

    .pricing-plan__summary , .pricing-plan__titile {
        color: #000000;
    }

    .pricing-plan__feature {
        font-family: 'Roboto', sans-serif; 
    }

    .intro > h2 {
        display: flex;
        justify-content: center;
    }

    img.Boxing_Gloves {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
}






@media screen and (max-width:768px){

    .faq {
        margin: 100px auto;
        width: 600px;
        margin-left: 45px;
        margin-bottom: 95px;
    
    }


    .form {
        margin-left: 100px;
        padding-bottom: 25px;
    }

    .pricing-plan {
        margin-left: 220px;
        overflow-wrap: break-word;
    }

    .Greeting {
        padding: 15px;
        margin: 10px;
        margin-left: 90px;
        padding-bottom: 35px;
    }
    

    .Boxing_Gloves {
        width: 100px;
        margin-left: 255px;
    }

    
    .bottom_Greeting {
        margin-left: 225px;
        text-transform: uppercase;
        margin-top: 65px;
        padding-bottom: 5px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        white-space: nowrap;
    }

   
}



@media screen and (max-width:600px) {
 
 
    .Greeting {
        padding: 15px;
        margin: 10px;
        margin-left: 20px;
        padding-bottom: 35px;
        white-space: nowrap;
    }

    .Boxing_Gloves {
        width: 100px;
        margin-left: 200px;
    }

    .faq {
        margin: 100px auto;
        width: 400px;
        margin-left: 65px;
        margin-bottom: 95px;
    
    }

    .form {
        margin-left: 40px;
        padding-bottom: 25px;
    }


    .bottom_Greeting {
        margin-left: 155px;
        text-transform: uppercase;
        margin-top: 40px;
        padding-bottom: 5px;
        font-size: 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        white-space: nowrap;
        margin-left: -50px;
        font-size: 15px;
    }

    .pricing-plan {
        margin-left: 130px;
        overflow-wrap: break-word;
    }

    .footer nav{
        padding: 1rem;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 1;
        margin-left: -35px;
    }

    .footer_copyright {
        margin-left: -10px;
     }
    }



     @media screen and (max-width:314px){

        header {
          font-size: 10pt;
          margin-left: 10px;
        }

        #header_navs {
            display: none;
        }

        .Greeting {
            font-size: 10pt;
            margin-left: -5px;
        }


        
       .Boxing_Gloves {
        margin-left: 85px;
      }

    .bottom_Greeting {
        margin-left: 75px;
        font-size: 10pt;
    }

    .pricing-plan {
        margin-left: 10px;
        width: 90%;
    }

    .pricing-plan__button{
        margin-left: 35px;
     }

     .faq_heading {
        margin-left: -260px;
    }

    .faq li {
        margin-left: -100px;
        width: 70%;
    }
    
    #footer_navs {
        margin-left: -55px;
        white-space: nowrap;
    }

    .form {
        margin-left: 0px;
    }
     

}
